p {font-family:'Futura';
font-size:15pt;
color: #FFFFFF;
}

head {font-family:'Futura';
font-size:30pt;
color:#FFFFFF;
}

h1 {font-family:'Futura';
font-size:30pt;
color:#FFFFFF;
}

body {background-color: #0C2747}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}